{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:vue/recommended",
    "plugin:nuxt/recommended",
    "plugin:@typescript-eslint/recommended",
    "@nuxtjs/eslint-config-typescript"
  ],
  "plugins": ["vue", "prettier", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "rules": {
    "vue/html-indent": [
      "error",
      2,
      {
        "attribute": 1,
        "baseIndent": 1,
        "closeBracket": 0
      }
    ],
    "vue/no-v-html": "off",
    "vue/require-default-prop": "off",
    "vue/html-self-closing": "off",
    "vue/singleline-html-element-content-newline": "off",
    "space-before-function-paren": "off",
    "arrow-parens": ["error", "always"],
    "@typescript-eslint/no-unused-vars": "off",
    "comma-dangle": ["error", "only-multiline"],
    "no-console": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "useTabs": false,
        "tabWidth": 2,
        "singleQuote": true,
        "arrowParens": "always",
        "semi": false,
        "printWidth": 120,
        "bracketSpacing": true,
        "bracketSameLine": false,
        "singleAttributePerLine": true
      }
    ]
  }
}
